<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cartstyle.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Oonchi Dukaan | Shopping Cart</title>
    <style>
        .home-page-link{
            background: none;
            text-decoration: none;
            border: none;
            font-family: 'Rubik';
            cursor: pointer;
            transition: all ease 0.2s;
            font-size: 1.6rem;
        }
        .home-page-link:hover{
            border: none;
            text-decoration: none;
            transform: translate(0);
            box-shadow: 0 0 0 1px #571c24 inset;
        }
        .removing-item{
            background: none;
            border: none;
            text-decoration: none;
            font-family: 'Rubik';
            font-size: 1.8rem;
            text-transform: uppercase;
            cursor: pointer;
            padding: 1.2rem;
            /* margin-bottom: 0.5rem; */
            /* padding-top: 1.2rem; */
            transition: all 0.3s;
            
        }
        .removing-item:hover{
            border-radius: 50rem;
            box-shadow: 0 0 0 1px #571c24 inset;
        }
    </style>
</head>

<body>
    <header class="header">
        <div class="logo-heading">
            <img src="Unchi.png" alt="Logo of Oonchi Dukaan" class="logo-image" />
        </div>

        <aside class="home-page-button">
            <form action="/profile" method="post">
                <button type="submit" name="userid" value="<%=user._id%>" class="home-page-link">Back To Profile Page</button>
            </form>
           
        </aside>
    </header>
    <section class="main-body">
        <div class="cart">
            <h2 class="cart-heading">My Cart</h2>
            <% let t_price=0; %> 
            <% let t_qty=0; %> 
            <% for( let index = 0; index < user.cart.length; index++ ) { %>
                <% t_price = t_price + (user.cart[index].price)*(user.cart[index].qty) %> 
                <% t_qty = t_qty + (user.cart[index].qty) %> 
            <div class="item">
                <div class="item-details">
                    <img src="<%=user.cart[index].image%>" alt="image of mattress" class="item-img" />
                    <div class="item-text">
                        <h3 class="item-name"><%=user.cart[index].name%></h3>
                        <h4 class="item-price">Price : <%=user.cart[index].price%></h4>
                        <div class="ekline">
                            <% if(user.cart[index].qty>1){ %>
                                <form action="/decrease" method="post" class="removing-form">
                                    <button type="submit" name="item_pos" value="<%=[user._id,index]%>"  class="minus btn-change">
                                        <ion-icon name="remove-circle-outline" class="minus"></ion-icon>
                                    </button>
                                </form>
                            <% } %>
                            <input type="number" class="quantity" placeholder="<%=user.cart[index].qty%>" required />
                            <form action="/increase" method="post" class="adding-form">
                                <button type="submit" name="item_pos" value="<%=[user._id,index]%>" class="plus btn-change">
                            <ion-icon name="add-circle-outline" class="plus"></ion-icon>
                            </button>
                        </form>
                        <form action="/remove" method="post">
                            <button type="submit" name="item_pos" value="<%=[user._id,index]%>" class="removing-item">Remove</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <!-- <div style="display: flex;"> -->
            <button class="cta-btn" style="display: block;">Proceed to Checkout</button>
            <form action="/profile" method="post">
                <button type="submit" name="userid" value="<%=user._id%>" class="home-page-link cta-link" style="margin-top: 1.2rem">Continue Shopping</button>
            </form>
        <!-- </div> -->
    </section>
    <section class="pricing">
        <h2 class="price-head">Price Details</h2>
        <div class="price-container">
            <p class="num-items-text">Number of items</p>
            <p class="num-items"><%= t_qty %> </p>
            <p class="price-text">Price</p>
            <p class="price-num">Rs <%= t_price %> </p>
            <p class="discount-text">Discount</p>
            <p class="discount-num">Rs 0</p>
            <p class="total-text total">Total Amount</p>
            <p class="total-num total">Rs <%= t_price %></p>
        </div>
    </section>
</body>

</html>
